.Contact {
  height: 9rem;
  width: 30rem;
  background-color: lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .imge {
    padding: 0.5rem;
  }

  .details {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    .details__contact {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .leftDetails,
      .rightDetails {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
    width: 100%;
  }
}

.image {
  width: 25%;
}

.link {
  color: black;
  text-decoration: none;
  display: flex;
  width: 100%;
}

.btn {
  width: 4%;
  color: red;
  border-color: red;
  border: 0.1rem solid;
  height: 10%;
  text-align: center;
  border-radius: 25px;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  font-size: 0.7rem;
}

.detailText {
  padding-bottom: 0.5rem;
}
