.menue {
  width: 10rem;
  height: 100%;
  background-color: rgb(135 135 135);

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 0.5rem;
  }
}
